<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2015-2016 The CyanogenMod Project
                   2017 The LineageOS Project
    SPDX-License-Identifier: Apache-2.0

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings.doze"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <application
        android:label="@string/device_settings_app_name"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
	android:theme="@style/Theme.SubSettingsBase.Expressive">
        <receiver android:name=".BootCompletedReceiver"
                  android:exported="true"> 
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DozeService"
            android:permission="XiaomiDozeService">
        </service>

        <activity
            android:name=".DozeSettingsActivity"
            android:exported="true"
            android:label="@string/ambient_display_title">
            <intent-filter>
                <action android:name="org.lineageos.settings.device.DOZE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
